body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

#span-color {
  color: rgb(16, 185, 236);
}

.tile-image {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 50px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
}

@media (max-width: 600px){
  .logo {
    height: 1rem;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card{
    width: 100%;
    display: block;
    text-align: justify;
  }
  .tile-image {
    width: 100%;
  }
}